#carousel img {
  height: 360px;
  filter: grayscale(30%);
  object-fit: cover;
  display: none;
}

#carousel {
  position: absolute;
  z-index: 1;
}

.overlay {
  position: relative;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 2;
  height: 360px;
}

.overlay h1 {
  font-style: oblique;
}
